body {
    background-color: black;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: cyan;
}

.laptop-img {
    width: 350px;
    height: 400px;
    position: relative;
    right:-200px;
    top:40px;
}

.text-beside-img {
    font-size: 30pt;
    margin-top: 150px;
   
}


.aboutMe {
    position: relative;
    left:-200px;
    top:40px;
}

.resume {
    width: 200px;
    height: 40px;
    background-color: orange;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    position: relative;
    left: -200px;
    top:60px;
}

.header {
    margin-top: 150px;
    color: orange;
    text-align: center;
}

#content {
    margin-top: 100px;
}

#edu {
    position: relative;
    right: -120px;
}

#skill-set {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

#contact {
    position: relative;
    right: -100px;
}